packages: 
  yum:
    pango-devel: []
    cairo-devel: []

commands:
  01_which_command_block:
    command: |
      FILE_PATH=$(which ffmpeg)
      echo "which ffmpeg output: $FILE_PATH" >> /var/log/custom-log.log
      echo "PATH: $PATH" >> /var/log/custom-log.log

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "ebdjango.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebdjango.wsgi:application